<h1>Contact us</h1>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success"> Your form is valid!</h5>
  <label>
    Name:
    <input type="text" formControlName="name">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.required" >Your name is required, bro.</div>
    </div>
  </label>
  
  <label>
    Message:
    <textarea formControlName="message"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <div *ngIf="messageForm.controls.message.required" >A message is required.</div>
    </div>
  </label>
  
  <input type="submit" value="Send message" class="cta">
</form>

<div *ngIf="submitted" class="results">
  <strong>Name: </strong>
  <span>{{ messageForm.controls.name.value }}</span>
  
  <strong>Message: </strong>
  <span>{{ messageForm.controls.message.value }}</span>
</div>